$btn-color: #444;
$btn-color-rgba-opacity: 0.8;
$btn-background-color: #E6E6E6;

$primary-btn-color: #FFF;
$primary-btn-background-color: #0078E7;

$focus-gradient: 40%;
$focus-gradient-shade: 0.1;
$hover-gradient-shade: 0.15;

$focus-shade: 0.6;
$hover-shade: 0.8;

$active-shade: 0.4;
$active-depth: 10px;
$active-hover-shade: 1;

$disabled-shade: 0.15;
$disabled-opacity: 0.6;
$disabled-opacity-IE: 60;

a {
    &.itsa-anchorbutton {
        margin: 0;
        padding: 0.5em 1em;
        font: inherit; /* 2 */
        font-family: inherit;
        font-size: 100%;
        color: $btn-color; /* rgba not supported (IE 8) */
        color: rgba(0, 0, 0, $btn-color-rgba-opacity); /* rgba supported */
        border: 1px solid #999;  /* IE 6/7/8 */
        border: none rgba(0, 0, 0, 0);  /* IE9 + everything else */
        background-color: $btn-background-color;
        text-decoration: none;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
        display: inline-block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: none;
        line-height: normal;
        white-space: nowrap;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
    }
}

a {
    &.itsa-anchorbutton:hover,
    &.itsa-anchorbutton:visited {
        color: $btn-color; /* rgba not supported (IE 8) */
        color: rgba(0, 0, 0, $btn-color-rgba-opacity); /* rgba supported */
    }
}

a {
    &.itsa-anchorbutton.readonly {
        cursor: default;
    }
}

a {
    &.itsa-anchorbutton-primary,
    &.itsa-anchorbutton-primary.itsa-anchorbutton:hover,
    &.itsa-anchorbutton-primary.itsa-anchorbutton:visited {
        background-color: $primary-btn-background-color;
        color: $primary-btn-color;
    }
}

a {
    &.itsa-anchorbutton:hover:not(.readonly),
    &.itsa-anchorbutton.itsa-anchorbutton-hover:not(.readonly),
    &.itsa-anchorbutton:hover:focus:not(.readonly),
    &.itsa-anchorbutton.itsa-anchorbutton-hover:focus:not(.readonly) {
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop($focus-gradient, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, $hover-gradient-shade)));
        background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) $focus-gradient, rgba(0, 0, 0, $hover-gradient-shade));
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) $focus-gradient, rgba(0, 0, 0, $hover-gradient-shade));
        background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) $focus-gradient, rgba(0, 0, 0, $hover-gradient-shade));
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) $focus-gradient, rgba(0, 0, 0, $hover-gradient-shade));
        box-shadow: 0 0 0 1px rgba(0, 0, 0, $hover-shade) inset;
    }
}

a {
    &.itsa-anchorbutton:focus {
        outline: 0;
    }
}

a {
    &.itsa-anchorbutton:focus:not(.readonly) {
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop($focus-gradient, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, $focus-gradient-shade)));
        background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) $focus-gradient, rgba(0, 0, 0, $focus-gradient-shade));
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) $focus-gradient, rgba(0, 0, 0, $focus-gradient-shade));
        background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) $focus-gradient, rgba(0, 0, 0, $focus-gradient-shade));
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) $focus-gradient, rgba(0, 0, 0, $focus-gradient-shade));
        box-shadow: 0 0 0 1px rgba(0, 0, 0, $focus-shade) inset;
    }
}

a {
    &.itsa-anchorbutton::-moz-focus-inner { /* firefox focusring */
        border: 0;
    }
}

a {
    &.itsa-anchorbutton-active:not(.readonly) {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset, 0 0 $active-depth rgba(0, 0, 0, $active-shade) inset;
    }
}

a {
    &.itsa-anchorbutton:not(.readonly):active:hover,
    &.itsa-anchorbutton:not(.readonly).itsa-anchorbutton-hover:active,
    &.itsa-anchorbutton:not(.readonly):active:focus,
    &.itsa-anchorbutton:not(.readonly):active:hover:focus,
    &.itsa-anchorbutton:not(.readonly).itsa-anchorbutton-hover:active:focus,
    &.itsa-anchorbutton-active:not(.readonly):hover,
    &.itsa-anchorbutton-active:not(.readonly).itsa-anchorbutton-hover,
    &.itsa-anchorbutton-active:not(.readonly):focus,
    &.itsa-anchorbutton-active:not(.readonly):hover:focus,
    &.itsa-anchorbutton-active:not(.readonly).itsa-anchorbutton-hover:focus {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset, 0 0 $active-depth rgba(0, 0, 0, $active-hover-shade) inset;
    }
}

a {
    &.itsa-anchorbutton[disabled],
    &.itsa-anchorbutton[disabled]:focus,
    &.itsa-anchorbutton[disabled]:hover,
    &.itsa-anchorbutton[disabled].itsa-anchorbutton-hover,
    &.itsa-anchorbutton[disabled]:active,
    &.itsa-anchorbutton[disabled].itsa-anchorbutton-active,
    &.itsa-anchorbutton[disabled]:active:hover,
    &.itsa-anchorbutton[disabled].itsa-anchorbutton-hover:active,
    &.itsa-anchorbutton[disabled].itsa-anchorbutton-active:hover,
    &.itsa-anchorbutton[disabled].itsa-anchorbutton-active.itsa-anchorbutton-hover,
    &.itsa-anchorbutton[disabled]:active:focus,
    &.itsa-anchorbutton[disabled].itsa-anchorbutton-active:focus,
    &.itsa-anchorbutton[disabled]:active:focus:hover,
    &.itsa-anchorbutton[disabled].itsa-anchorbutton-hover:active:focus,
    &.itsa-anchorbutton[disabled].itsa-anchorbutton-active:focus:hover,
    &.itsa-anchorbutton[disabled].itsa-anchorbutton-hover.itsa-anchorbutton-active:focus {
        border: none;
        background-image: none !important;
        filter: progid:dximagetransform.microsoft.gradient(enabled = false);
        filter: alpha(opacity=$disabled-opacity-IE);
        -khtml-opacity: $disabled-opacity;
        -moz-opacity: $disabled-opacity;
        opacity: $disabled-opacity;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, $disabled-shade) inset !important;
        cursor: default;
    }
}

a {
    &.itsa-button-smoothrounded,
    &.itsa-anchorbutton-smoothrounded {
        border-radius: 2px;
    }
}

a {
    &.itsa-button-rounded,
    &.itsa-anchorbutton-rounded {
        border-radius: 0.3em;
    }
}

a {
    &.itsa-button-heavyrounded,
    &.itsa-anchorbutton-heavyrounded {
        border-radius: 0.5em;
    }
}

a {
    &.itsa-button-oval,
    &.itsa-anchorbutton-oval {
        border-radius: 50%;
    }
}

a {
    &.itsa-button-halfoval,
    &.itsa-anchorbutton-halfoval {
        border-radius: 25%;
    }
}
